<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appv1"
        android:usesCleartextTraffic="true"
        tools:targetApi="35">
        <activity
            android:name=".cuidador.ConfiguracionCuidador"
            android:exported="false" />
        <activity
            android:name=".paciente.BlueToothPaciente"
            android:exported="false" />
        <activity
            android:name=".cuidador.FormularioPaciente"
            android:exported="false" />
        <activity
            android:name=".registro.ConfirmarDatosAdmin"
            android:exported="false" />
        <activity
            android:name=".registro.RegistroDeLaOrg"
            android:exported="false" />
        <activity
            android:name=".registro.RegistroAdmin"
            android:exported="false" />
        <activity
            android:name=".logins.LoginPaciente"
            android:exported="false" />
        <activity
            android:name=".cuidador.EditarPacienteCuid"
            android:exported="false" />
        <activity
            android:name=".cuidador.EditarInfoCuid"
            android:exported="false" />
        <activity
            android:name=".paciente.HomePaciente"
            android:exported="false" />
        <activity
            android:name=".admin.MainAdministrador"
            android:exported="false" />
        <activity
            android:name=".logins.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".cuidador.MainActivityCuidador"
            android:exported="false" />
        <activity
            android:name=".cuidador.RegistroDePaciente"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".registro.RegistroCuidador"
            android:exported="false" />
        <activity
            android:name=".logins.CuidadorLogin"
            android:exported="false" />
        <activity
            android:name=".paciente.PacienteQR"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>